.qor-grid-container {
  .mdl-grid + .mdl-grid {
    border-top: 1px solid #eee;
  }

  .mdl-cell {
    p:last-child {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }
  }
}

tr.is-deleted,
.is-changed {
  background-color: #eee;
  .qor-table__content{
    text-decoration: line-through;
  }
  a.qor-action__view{
    color: #FF1462;
  }
}

.qor-preview-popup .is-deleted {
  text-decoration: line-through;
}

.qor-page-subnav__header + .qor-actions--publish{
  .qor-publish__button-popover{
    color: rgba(0, 0, 0, .87);
  }
}
.qor-actions--publish{
  float: none;
  .qor-action--button{
    float: right;
  }
  .qor-publish__button-popover{
    color: #03a9f4;
    margin: 0 32px;
  }
  .qor-publish__discard{
    color: #ff4081;
  }
}

.qor-publish__datetimepicker{
  position: relative;
  .mdl-textfield{
    width: 100%;
  }
  .qor-action__datepicker,.qor-action__timepicker{
    position: absolute;
    bottom: 20px;
  }
  .qor-publish__time{
    color: rgba(0, 0, 0, .87);
  }
}
