.qor-grid-container {
  .mdl-grid + .mdl-grid {
    border-top: 1px solid #eee;
  }

  .mdl-cell {
    p:last-child {
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }
  }
}

.is-deleted,
.is-changed {
  background-color: #eee;
  .qor-table__content{
    text-decoration: line-through;
  }
  a.qor-action__view{
    color: #FF1462;
  }
}