<div class="qor-actions float-right">
  <button type="submit" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect qor-action--button" data-confirm="{{t "Are you sure?"}}" name="publish_type" value="discard">{{t "qor_publish.form.discard" "Discard"}}</button>
  <button type="submit" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect qor-action--button" name="publish_type" value="publish">{{t "qor_publish.form.schedule_time_to_publish" "Schedule Time To Publish"}}</button>
  <button type="submit" class="mdl-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect qor-action--button" data-confirm="{{t "Are you sure?"}}" name="publish_type" value="publish">{{t "qor_publish.form.publish" "Publish"}}</button>
</div>
